---
// TODO: Improve component name

import { Tag } from '../scripts/tags';

export interface Props {
    tag: Tag;
    ifAddLink?: boolean;
}

const { tag, ifAddLink=true } = Astro.props;
const tagValue = tag.tag;
// Search for "(Any word or space or dash)('/' - slash)(Any word or space or dash)"
const categoryRegex = /^[\w\s-]+\/([\w\s-]+)/;
const categoryRegexResult = tag.path.match(categoryRegex);
const category = categoryRegexResult ? categoryRegexResult[1] : Tag.ErrorTag.tag;
---

<li class="tag" title={`${category} Tag`} data-category={category} data-tag={tag.tag}>
    {
        ifAddLink ? 
            // TODO: Add href
            <a href={`/projects/?include=${tagValue}`}>{category === "Status" && <span class="circle"></span>}{tagValue}</a>
            :
            <span>{category === "Status" && <span class="circle"></span>}{tagValue}</span>
    }
</li>

<style>
    .tag {
        height: min-content;

        font-size: 0.8em;
        
        background-color: var(--tag-color);

        border: 3px solid var(--tag-border-color);
        border-radius: 0.5em;
        padding: 0em 0.3em;

        a {
            color: inherit;
            text-decoration: none;
        }
    }
    
    .circle {
        display: inline-block;
        margin-right: 0.5em;
        margin-left: 0.15em;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
</style>